{% extends '@CongregationManagerAdmin/base.html.twig' %}

{% block title %}{{ 'cm.brother.show.meta_title'|trans({'{name}': brother}) }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mb-3">
            <div class="col-12 col-md-8 col-lg-6">
                <h1>{{ brother }}</h1>
            </div>
        </div>
        
        <div class="row mb-3">
            <div class="col-12 col-md-8 col-lg-6">
                <ul>
                    <li>{{ 'cm.label.birth_date'|trans }}: {{ brother.birthDate|date }}</li>
                    <li>{{ 'cm.label.baptism_date'|trans }}: {{ brother.baptismDate|date }}</li>
                </ul>
            </div>
        </div>
        
        {% if brother.user %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ 'cm.label.user'|trans }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ brother.user.email }}</h6>
                </div>
            </div>
        {% elseif brother.invitation %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" {{ test_html_attribute('user-invitation') }}>{{ 'cm.label.invitation_send'|trans }}</h5>
                </div>
            </div>
        {% else %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ 'cm.label.invite_user'|trans }}</h5>
                    <a href="{{ path('admin_invite_app_user', {id: brother.id}) }}" class="btn btn-primary" {{ test_html_attribute('invite-user-button') }}>{{ 'cm.label.invite'|trans }}</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
