{% extends '@CongregationManagerAdmin/base.html.twig' %}

{% block title %}{{ 'cm.congregation.index.meta_title'|trans }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mb-3">
            <div class="col-12 col-md-8 col-lg-6">
                <h1>{{ 'cm.congregation.title'|trans }}</h1>
            </div>
        </div>
        
        <div class="row mb-3">
            <div class="col-12 col-md-8 col-lg-6">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">{{ 'cm.label.id'|trans }}</th>
                        <th scope="col">{{ 'cm.label.name'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for congregation in congregations %}
                        <tr>
                            <th scope="row">{{ congregation.id }}</th>
                            <td>{{ congregation.name }}</td>
                            <td><a href="{{ path('admin_congregation_show', {id: congregation.id}) }}">{{ 'cm.label.view'|trans }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
